<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header" data-background-color="blue">
                      <!--<h4 class="title">PRIME Unified Seach</h4>-->
                      <p class="category">Enter your search criteria - This is definately a small change</p>
                  </div>
                  <div class="card-content">
                      <div class="row">
                          <div class="col-md-12">
                              <form  role="search">
                                  <div class="form-group form-black label-floating is-empty">
                                      <input type="text" class="form-control" placeholder="Search criteria">
                                      <span class="material-input"></span>
                                  </div>
                                  <button type="submit" class="btn btn-white btn-round btn-just-icon">
                                      <i class="material-icons">search</i><div class="ripple-container"></div>
                                  </button>
                              </form>
                          </div>
                      </div>
                  </div>
               </div>
          </div>
      </div>
  </div>
</div>
<app-searchresults></app-searchresults>
